header {
    text-align: center;
    background-color: gray;
    padding: 10px;
    display: grid;
    margin: 0.2cm 3cm;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#titulo {
    color:rgba(15, 19, 112, 0.8);
   
    grid-column: 2/4;
}
.img{
    margin: 0cm 3cm;
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

aside {
    text-align: center;
    background-color: #BB9981;
    grid-column: 4/5;
}

section {
    background-color: #C5D8A4;
    grid-column: 1/4;
}

#contenido {
    grid-column: 1/5;
}

footer {
    color: #fff;
    text-align: center;
    background-color: #534340;
    padding: 10px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

td:first-child{
    height: auto;
    width: 100px;
}

td:last-child{
    height: auto;
    width: 500px;
    text-align: justify;
}

td, th {
    border: 2px solid rgb(74, 5, 46);
    text-align: center;
    padding: 5px;
}

tbody tr:nth-child(2n) {
    background-color: rgba(76, 217, 179, 0.8);
    color:rgb(15, 3, 88);
}
tbody tr:nth-child(2n+1) {
    background-color: #3cb0ef;
}

tr:hover td{
    background-color: #4e5066;
    color: #fff;
    border-top: 1px solid #22262e;
}

@media (max-width: 600px) {

    header,
    nav,
    main {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:600px) {

    header,
    nav,
    main {
        flex-direction: column;
    }
}


#menu {
    padding: 0px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#menu>li {
    float: left;
}

#menu li a {
    background-color: #112B3C;
    color: #fff;
    text-decoration: none;
    padding: 20px 80px;
    display: block;
}

#menu li a:hover {
    background-color: blue;
}

#menu li ul {
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    min-width: 140px;
}

#menu li:hover>ul {
    display: block;
}

#menu li ul li {
    position: relative;
}

#menu li ul li ul {
    right: 140px;
}